# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual Environments
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/
.env

# uv
uv.lock

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
